:root {
  --primary-white-background: #F5F5F7;
  --primary-black-background: #000000;
  --primary-white-Text-color: #D0D0D0;
  --primary-black-Text-color: #1D1D1F;
  --primary-good-alert-color: rgb(30, 215, 96);
  --primary-error-alert-color: rgb(255, 0, 0);
  --primary-white-button-background: rgba(208, 208, 208, 0.55);
}

.review-container {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 50px 0 10px 0;
}
.review-container .review-texthead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-container .review-texthead h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
}
.review-container .review-cards {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  background: rgba(208, 208, 208, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin-top: 25px;
  position: relative;
}
.review-container .review-cards .extra-card {
  display: none;
}
.review-container .review-cards .card {
  max-width: 283px;
  width: 100%;
  height: 365px;
  background: #FFFFFF;
  box-shadow: inset 4.08px 4.08px 10.88px 1px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  position: relative;
}
.review-container .review-cards .card .date-of-review {
  position: absolute;
  right: 16px;
  top: 20px;
}
.review-container .review-cards .card .date-of-review p {
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  color: rgba(29, 29, 31, 0.65);
}
.review-container .review-cards .card .profile-info {
  display: flex;
  align-items: center;
  margin: 39px 0 0 22px;
}
.review-container .review-cards .card .profile-info .profile-picture {
  width: 40px;
  height: 41px;
  border-radius: 50px;
  overflow: hidden;
}
.review-container .review-cards .card .profile-info .profile-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review-container .review-cards .card .profile-info .profile-name {
  margin-left: 15px;
}
.review-container .review-cards .card .profile-info .profile-name h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-black-Text-color);
}
.review-container .review-cards .card .profile-info .profile-name .profie-profesion h3 {
  max-width: 196px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: rgba(29, 29, 31, 0.76);
}
.review-container .review-cards .card .rating-stars {
  margin: 9px 0 0 22px;
  max-width: 221px;
  width: 100%;
}
.review-container .review-cards .card .review-text {
  max-width: 215px;
  height: 181px;
  margin-left: 35px;
  padding-right: 15px;
  margin-top: 16px;
  line-height: 23px;
  overflow-y: scroll;
}
.review-container .review-cards .card .review-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.review-container .next-previous {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.review-container .next-previous .next {
  width: 38px;
  height: 36px;
  background: rgba(208, 208, 208, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.review-container .next-previous .previous {
  width: 38px;
  height: 36px;
  background: rgba(208, 208, 208, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .review-container {
    max-width: 1537px;
    width: 100%;
  }
  .review-container .review-texthead h1 {
    font-size: 45px;
  }
  .review-container .review-cards {
    background: none;
    justify-content: flex-end;
  }
  .review-container .review-cards .extra-card {
    display: block;
  }
  .review-container .review-cards .card {
    margin-left: 27px;
  }
}/*# sourceMappingURL=style.css.map */