// Root colors
:root {
    --primary-white-background: #F5F5F7;
    --primary-black-background: #000000;

    --primary-white-Text-color: #D0D0D0;
    --primary-black-Text-color: #1D1D1F;

    --primary-good-alert-color: rgb(30, 215, 96);
    --primary-error-alert-color: rgb(255, 0, 0);
    ;

}

// Home container display only welcome section
.home-container {
    height: 1000px;
    background-color: var(--primary-white-background);
    overflow: hidden;

    // Welcome section div
    .welcome-home-section {
        position: relative;
        max-width: 600px;
        width: 100%;

        // Welcome section vector's design start
        .background-vectors {

            .vector-one {
                position: absolute;
                z-index: 9;
                max-width: 600px;
                width: 100%;
                height: 500px;
                background-color: rgb(0, 0, 0);
            }

            .vector-two {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 10;
            }

            .vector-two-pc-screen {
                display: none;
            }

            .vector-three {
                position: absolute;
                z-index: 11;
                overflow: hidden;
                max-width: 600px;
                width: 100%;
                height: 500px;
                background: rgba(0, 0, 0, 0.71);
                backdrop-filter: blur(0.5px);
            }

            .custom-shape-divider-top-1677526532 {
                position: absolute;
                z-index: 10;
                top: 0;
                margin-top: 499px;
                left: 0;
                width: 100%;
                overflow: hidden;
                line-height: 0;
                transform: rotate(180deg);

                svg {
                    position: relative;
                    display: block;
                    width: calc(100% + 1.3px);
                    height: 63px;
                }

                .shape-fill {
                    fill: #000000;
                }
            }

            .overflow-fix {
                position: absolute;
                top: 0;
                z-index: 12;
                margin-top: 559px;
                max-width: 1440px;
                width: 100%;

                .custom-shape-divider-bottom-1677531999 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    overflow: hidden;
                    line-height: 0;
                    transform: rotate(180deg);
                }

                .custom-shape-divider-bottom-1677531999 svg {
                    position: relative;
                    display: block;
                    width: calc(100% + 1.3px);
                    height: 60px;
                }

                .custom-shape-divider-bottom-1677531999 .shape-fill {
                    fill: var(--primary-white-background);
                }
            }
        }

        // Welcome section vector's design end


        // Text Content's div start
        .text-contents {
            position: absolute;
            z-index: 14;
            width: 100%;
            height: auto;
            padding: 10px;
            margin: 145px auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            // background-color: red;

            .welcome-head-text {
                text-align: center;

                h1 {
                    font-family: 'Inspiration';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 3.125rem;
                    color: var(--primary-white-Text-color);
                }
            }

            .company-name {
                text-align: center;

                h2 {
                    color: var(--primary-white-Text-color);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.25rem;
                    margin-top: 25px;
                }
            }

            .company-locaton {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 18px 11px 0 0;

                .location-icon {
                    margin: -5px 5px 0;
                }

                .location-text {
                    margin-right: 5px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    color: var(--primary-white-Text-color);
                }

                .shop-open-close-status {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .open-close-status-icon {
                        color: var(--primary-good-alert-color);
                    }

                    span {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        color: var(--primary-good-alert-color);
                        margin-right: 3px;
                    }
                }
            }

            .offers-contact-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--primary-white-Text-color);
                margin-top: 32px;

                .offers-btn {
                    width: 119px;
                    height: 33px;
                    background: rgba(29, 29, 31, 0.8);
                    backdrop-filter: blur(2px);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 14px;
                }

                .contact-btn {
                    width: 119px;
                    height: 33px;
                    background: rgba(29, 29, 31, 0.8);
                    backdrop-filter: blur(2px);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        // Text Content's div end


    }
}


// PC Screen Start
// Media Queris start

@media only screen and (min-width: 600px) {
    .home-container {
        height: 1097px;

        .welcome-home-section {
            max-width: 1537px;
            width: 100%;

            .background-vectors {
                max-width: 1440px;
                width: 100%;

                .vector-one {
                    max-width: 1537px;
                    width: 100%;
                    height: 590px;
                }

                .vector-two {
                    display: none;
                }

                .vector-two-pc-screen {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 10;
                    height: 590px;
                    overflow: hidden;
                }

                .vector-three {
                    max-width: 1537px;
                    width: 100%;
                    height: 590px;
                    background: rgba(0, 0, 0, 0.31);
                    backdrop-filter: blur(0.5px);
                }

                .custom-shape-divider-top-1677526532 {
                    margin-top: 589px;
                }

                .overflow-fix {
                    display: none;
                }
            }

            .text-contents {
                right: 300px;

                .welcome-head-text {

                    h1 {
                        font-size: 83px;
                    }
                }

                .company-name {

                    h2 {
                        font-size: 24px;
                    }
                }

                .company-locaton {
                    margin-top: 33px;

                    .location-text {

                        h1 {
                            font-size: 13px;
                        }
                    }

                    .shop-open-close-status {

                        span {
                            font-size: 11px;
                        }
                    }
                }

                .offers-contact-btn {

                    .offers-btn {
                        width: 123px;

                        span{
                            font-size: 16px;
                        }
                    }

                    .contact-btn{
                        width: 123px;

                        span{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}