// Root colors
:root {
    --primary-white-background: #F5F5F7;
    --primary-black-background: #000000;

    --primary-white-Text-color: #D0D0D0;
    --primary-black-Text-color: #1D1D1F;

    --primary-good-alert-color: rgb(30, 215, 96);
    --primary-error-alert-color: rgb(255, 0, 0);

    --primary-white-button-background: rgba(208, 208, 208, 0.55);
}

.brands-inside-section {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-top: 705px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 23px 0;
    overflow: hidden;

    .brands-inside-text-head {
        text-align: center;
        padding-bottom: 23px;

        h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            color: var(--primary-white-Text-color);
        }
    }

    .brands-inside-names {
        .mobile-screen {
            img {
                &:nth-child(2) {
                    margin-top: 17px;
                    padding-top: 19px;
                    border-top: 1px solid var(--primary-white-Text-color);
                }

                &:nth-child(3) {
                    margin-top: 17px;
                    padding-top: 19px;
                    border-top: 1px solid var(--primary-white-Text-color);
                }
            }
        }

        .pc-screen {
            display: none;
        }

    }
}


// Media quries start
@media only screen and (min-width: 572px) {
    .brands-inside-section {
        height: auto;
        margin-top: 485px;
    }
}

@media only screen and (min-width: 600px) {

    .brands-inside-section {
        max-width: 1537px;
        width: 100%;
        height: 500px;

        .brands-inside-text-head{
            margin-top: 40px;

            h1 {
                font-size: 39px;
            }
        }

        .brands-inside-names {
            margin-top: 18px;

            .mobile-screen {
                display: none;
            }

            .pc-screen {
                display: block;

                img {
                    &:nth-child(2) {
                        margin-top: 35px;
                        padding-top: 35px;
                        border-top: 1px solid var(--primary-white-Text-color);
                    }

                    &:nth-child(3) {
                        margin-top: 35px;
                        padding-top: 35px;
                        border-top: 1px solid var(--primary-white-Text-color);
                    }
                }
            }
        }
    }
}