// Root colors
:root {
    --primary-white-background: #F5F5F7;
    --primary-black-background: #000000;

    --primary-white-Text-color: #D0D0D0;
    --primary-black-Text-color: #1D1D1F;

    --primary-good-alert-color: rgb(30, 215, 96);
    --primary-error-alert-color: rgb(255, 0, 0);

    --primary-white-button-background: rgba(208, 208, 208, 0.55);
}


.new-arrivals-container {
    max-width: 600px;
    height: auto;
    position: relative;
    z-index: 13;
    margin-top: -500px;
    // background-color: var(--primary-white-background);

    .card-container {
        width: 100%;
        height: auto;
        position: absolute;
        // background-color: rgb(60, 113, 96);
        // background-color: var(--primary-white-background);
        padding: 29px 16px;


        // new arrivals cards head text setup
        .card-container-head-div {
            width: 100%;
            height: 100%;

            // Currently it's don't showing UI (May be work before), start
            // .card-conrainer-head-text-board-hanger-line {
            //     display: flex;
            //     justify-content: space-evenly;
            //     display: none; 

            //     .hanger-line {
            //         width: 180px;
            //         height: 3px;
            //         background-color: black;
            //         transform: rotate(90deg);
            //         margin: 0 -30px;

            //     }
            // }
            // Currently it's don't showing UI (May be work before), end

            .card-container-text-head {
                width: 16rem;
                height: 61px;
                background: var(--primary-white-button-background);
                backdrop-filter: blur(5px);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 30px auto;

                h1 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.875rem;
                    color: var(--primary-black-Text-color);
                }
            }
        }

        // new arrivals each cards setup
        .card-container-new-arrivals {
            width: 100%;
            height: 100%;
            margin-top: 44px;

            .cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .extra-cards {
                    display: none;
                }

                .card {
                    width: 250px;
                    height: 200px;
                    margin: 10px;

                    background: rgba(208, 208, 208, 0.55);
                    box-shadow: 0px 20px 50px -10px rgba(255, 0, 168, 0.2);

                    .image-card {
                        margin: 10px 11px;
                        width: 227px;
                        height: 180px;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .new-arrival-name {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            background: rgba(0, 0, 0, 0.3);

                            h1 {
                                color: var(--primary-white-Text-color);
                                display: flex;
                                justify-content: center;
                                margin-top: 25%;
                                font-style: normal;
                                font-weight: 800;
                                font-size: 40px;
                            }
                        }
                    }
                }

            }

            .controlls-and-see-all-new-arrival-card {
                // background-color: rgb(172, 172, 172);
                width: 100%;
                height: auto;
                margin-top: 34px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .next-icon {
                    width: 38px;
                    height: 36px;
                    background: var(--primary-white-button-background);
                    backdrop-filter: blur(5px);
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                }

                .previous-icon {
                    width: 38px;
                    height: 36px;
                    background: var(--primary-white-button-background);
                    backdrop-filter: blur(5px);
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .see-all-cards {
                    width: 88px;
                    height: 36px;
                    color: var(--primary-black-Text-color);
                    background: var(--primary-white-button-background);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    backdrop-filter: blur(5px);
                    border-radius: 20px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    margin-left: 20px;
                }
            }

        }
    }
}

@media only screen and (min-width: 600px) {
    .new-arrivals-container {
        max-width: 1537px;
        width: 100%;
        height: 375px;

        .card-container {

            .card-container-head-div {

                .card-container-text-head {
                    width: 333px;

                    h1 {
                        font-size: 40px;
                    }
                }
            }

            .card-container-new-arrivals {
                max-width: 1537px;
                width: 100%;
                margin-top: 80px;

                .cards {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 244px 244px;
                    gap: 10px;
                    place-items: center;
                    margin-top: 20px;
                    grid-gap: 40px 0px;

                    .extra-cards {
                        display: block;
                    }

                    .card {
                        width: 315px;
                        height: 244px;

                        &:nth-child(3n-1) {
                            width: 426px;

                            .image-card {
                                margin: unset;
                                width: 426px;
                                height: 244px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                                .new-arrival-name {
                                    width: 426px;
                                    height: 244px;

                                    h1 {
                                        margin-top: 90px;
                                    }
                                }
                            }
                        }

                        .image-card {

                            img {
                                width: 293px;
                                height: 220px;
                            }

                            .new-arrival-name {
                                width: 293px;
                                height: 220px;

                                h1 {}
                            }
                        }

                    }
                }

                .controlls-and-see-all-new-arrival-card {
                    position: relative;
                    right: 89px;
                }
            }
        }
    }
}