:root {
  --primary-white-background: #F5F5F7;
  --primary-black-background: #000000;
  --primary-white-Text-color: #D0D0D0;
  --primary-black-Text-color: #1D1D1F;
  --primary-good-alert-color: rgb(30, 215, 96);
  --primary-error-alert-color: rgb(255, 0, 0);
  --primary-white-button-background: rgba(208, 208, 208, 0.55);
}

.new-arrivals-container {
  max-width: 600px;
  height: auto;
  position: relative;
  z-index: 13;
  margin-top: -500px;
}
.new-arrivals-container .card-container {
  width: 100%;
  height: auto;
  position: absolute;
  padding: 29px 16px;
}
.new-arrivals-container .card-container .card-container-head-div {
  width: 100%;
  height: 100%;
}
.new-arrivals-container .card-container .card-container-head-div .card-container-text-head {
  width: 16rem;
  height: 61px;
  background: var(--primary-white-button-background);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.new-arrivals-container .card-container .card-container-head-div .card-container-text-head h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  color: var(--primary-black-Text-color);
}
.new-arrivals-container .card-container .card-container-new-arrivals {
  width: 100%;
  height: 100%;
  margin-top: 44px;
}
.new-arrivals-container .card-container .card-container-new-arrivals .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new-arrivals-container .card-container .card-container-new-arrivals .cards .extra-cards {
  display: none;
}
.new-arrivals-container .card-container .card-container-new-arrivals .cards .card {
  width: 250px;
  height: 200px;
  margin: 10px;
  background: rgba(208, 208, 208, 0.55);
  box-shadow: 0px 20px 50px -10px rgba(255, 0, 168, 0.2);
}
.new-arrivals-container .card-container .card-container-new-arrivals .cards .card .image-card {
  margin: 10px 11px;
  width: 227px;
  height: 180px;
  position: relative;
}
.new-arrivals-container .card-container .card-container-new-arrivals .cards .card .image-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-arrivals-container .card-container .card-container-new-arrivals .cards .card .image-card .new-arrival-name {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}
.new-arrivals-container .card-container .card-container-new-arrivals .cards .card .image-card .new-arrival-name h1 {
  color: var(--primary-white-Text-color);
  display: flex;
  justify-content: center;
  margin-top: 25%;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}
.new-arrivals-container .card-container .card-container-new-arrivals .controlls-and-see-all-new-arrival-card {
  width: 100%;
  height: auto;
  margin-top: 34px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.new-arrivals-container .card-container .card-container-new-arrivals .controlls-and-see-all-new-arrival-card .next-icon {
  width: 38px;
  height: 36px;
  background: var(--primary-white-button-background);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.new-arrivals-container .card-container .card-container-new-arrivals .controlls-and-see-all-new-arrival-card .previous-icon {
  width: 38px;
  height: 36px;
  background: var(--primary-white-button-background);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-arrivals-container .card-container .card-container-new-arrivals .controlls-and-see-all-new-arrival-card .see-all-cards {
  width: 88px;
  height: 36px;
  color: var(--primary-black-Text-color);
  background: var(--primary-white-button-background);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin-left: 20px;
}

@media only screen and (min-width: 600px) {
  .new-arrivals-container {
    max-width: 1537px;
    width: 100%;
    height: 375px;
  }
  .new-arrivals-container .card-container .card-container-head-div .card-container-text-head {
    width: 333px;
  }
  .new-arrivals-container .card-container .card-container-head-div .card-container-text-head h1 {
    font-size: 40px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals {
    max-width: 1537px;
    width: 100%;
    margin-top: 80px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 244px 244px;
    gap: 10px;
    place-items: center;
    margin-top: 20px;
    grid-gap: 40px 0px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .extra-cards {
    display: block;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card {
    width: 315px;
    height: 244px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card:nth-child(3n-1) {
    width: 426px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card:nth-child(3n-1) .image-card {
    margin: unset;
    width: 426px;
    height: 244px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card:nth-child(3n-1) .image-card img {
    width: 100%;
    height: 100%;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card:nth-child(3n-1) .image-card .new-arrival-name {
    width: 426px;
    height: 244px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card:nth-child(3n-1) .image-card .new-arrival-name h1 {
    margin-top: 90px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card .image-card img {
    width: 293px;
    height: 220px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .cards .card .image-card .new-arrival-name {
    width: 293px;
    height: 220px;
  }
  .new-arrivals-container .card-container .card-container-new-arrivals .controlls-and-see-all-new-arrival-card {
    position: relative;
    right: 89px;
  }
}/*# sourceMappingURL=style.css.map */