.header-box {
  width: 100%;
  height: 51px;
  background: rgba(18, 18, 18, 0.708);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  position: fixed;
  z-index: 15;
}
.header-box .header-contents {
  position: relative;
}
.header-box .header-contents .logo {
  position: absolute;
  width: 203px;
  height: 10px;
  left: 203px;
  top: 15px;
  opacity: 1;
  transition: opacity 0.7s;
}
.header-box .header-contents .logo.dropdown-active {
  opacity: 0;
}
.header-box .header-contents .logo h1 {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #D0D0D0;
}
.header-box .header-contents .mobile-menu-bar {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  right: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.header-box .header-contents .mobile-menu-bar.dropdown-active {
  display: none;
}
.header-box .header-contents .mobile-menu-bar .menubar.dropdown-active:nth-child(1) {
  transform: rotate(50deg);
  top: 10px;
}
.header-box .header-contents .mobile-menu-bar .menubar.dropdown-active:nth-child(2) {
  transform: rotate(-50deg);
}
.header-box .header-contents .mobile-menu-bar .menubar.dropdown-unactive:nth-child(1) {
  transform: rotate(0);
  top: 0;
}
.header-box .header-contents .mobile-menu-bar .menubar.dropdown-unactive:nth-child(2) {
  transform: rotate(0);
}
.header-box .header-contents .mobile-menu-bar .menubar {
  height: 1px;
  width: 28px;
  margin-top: 3px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.9s;
}
.header-box .header-contents .drop-down-mobile-menu-bar {
  display: none;
}
.header-box .header-contents .mobile-nav-links-box .background-nav-links {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  z-index: 17;
  transform: translateY(-999px);
  transition: transform 0.7s ease-in-out;
}
.header-box .header-contents .mobile-nav-links-box .background-nav-links.dropdown-active {
  transform: translateY(0);
}
.header-box .header-contents .mobile-nav-links-box .drop-down-mobile-menu-bar {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  right: 16px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0;
}
.header-box .header-contents .mobile-nav-links-box .drop-down-mobile-menu-bar.dropdown-active {
  opacity: 1;
}
.header-box .header-contents .mobile-nav-links-box .drop-down-mobile-menu-bar .menubar.dropdown-active:nth-child(1) {
  transform: rotate(50deg);
  top: 10px;
}
.header-box .header-contents .mobile-nav-links-box .drop-down-mobile-menu-bar .menubar.dropdown-active:nth-child(2) {
  transform: rotate(-50deg);
}
.header-box .header-contents .mobile-nav-links-box .drop-down-mobile-menu-bar .menubar.dropdown-unactive:nth-child(1) {
  transform: rotate(0);
}
.header-box .header-contents .mobile-nav-links-box .drop-down-mobile-menu-bar .menubar.dropdown-unactive:nth-child(2) {
  transform: rotate(0);
}
.header-box .header-contents .mobile-nav-links-box .drop-down-mobile-menu-bar .menubar {
  position: relative;
  z-index: 17;
  height: 1px;
  width: 28px;
  margin-top: 3px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.9s;
}
.header-box .header-contents .mobile-nav-links-box .nav-links {
  position: relative;
  z-index: 17;
}
.header-box .header-contents .mobile-nav-links-box .nav-links .animation-background.dropdown-active {
  width: 500px;
  height: 100%;
  position: absolute;
  top: 51px;
  background-color: black;
  transition: tranform 1s;
}
.header-box .header-contents .mobile-nav-links-box .nav-links .animation-background.dropdown-active.animation {
  transform: translatey(400px);
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul {
  padding: 50px 0 0 50px;
  position: relative;
  z-index: 17;
  cursor: pointer;
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul.dropdown-active {
  color: #D0D0D0;
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul.dropdown-active li::before {
  color: black;
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul.dropdown-active li:hover::before {
  color: red;
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul.dropdown-active li {
  opacity: 1;
  transition: opacity 2s ease;
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul li {
  list-style: none;
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 20px;
  position: relative;
  opacity: 0;
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul li.activeNavbarLinkBtn::before {
  color: red;
}
.header-box .header-contents .mobile-nav-links-box .nav-links ul li::before {
  content: ".";
  position: absolute;
  top: -13px;
  right: 90px;
  font-size: 35px;
}

@media screen and (max-width: 500px) {
  .header-box .header-contents .logo {
    left: 16px;
  }
}
@media screen and (max-width: 420px) {
  .header-box .header-contents .mobile-nav-links-box .nav-links ul li::before {
    right: 16px;
  }
}/*# sourceMappingURL=style.css.map */