.header-box {
    width: 100%;
    height: 51px;
    background: rgba(18, 18, 18, 0.708);
    backdrop-filter: blur(4.5px);
    position: relative;
    z-index: 15;

    .header-contents {
        position: relative;

        .logo {
            position: absolute;
            width: 203px;
            height: 10px;
            left: 203px;
            top: 15px;
            opacity: 1;
            transition: opacity 0.7s;

            &.dropdown-active {
                opacity: 0;
            }

            h1 {
                font-size: 1.0625rem;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                color: #D0D0D0;
            }
        }

        .mobile-menu-bar {
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 19;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            right: 16px;
            margin-top: 10px;
            // background: rgb(148, 62, 62);
            cursor: pointer;

            &.dropdown-active {
                display: none;
            }

            .menubar.dropdown-active {
                &:nth-child(1) {
                    transform: rotate(50deg);
                    top: 10px;
                }

                &:nth-child(2) {
                    transform: rotate(-50deg);
                }
            }


            .menubar.dropdown-unactive {
                &:nth-child(1) {
                    transform: rotate(0);
                    top: 0;
                }

                &:nth-child(2) {
                    transform: rotate(0);
                }
            }

            .menubar {
                height: 1px;
                width: 28px;
                margin-top: 3px;
                background-color: rgb(255, 255, 255);

                transition: transform 0.9s;
            }
        }

        .drop-down-mobile-menu-bar {
            display: none;
        }

        .mobile-nav-links-box {

            .background-nav-links {
                width: 100%;
                height: 100vh;
                background-color: black;
                position: absolute;
                z-index: 17;
                transform: translateY(-999px);
                transition: transform 0.7s ease-in-out;

                &.dropdown-active {
                    transform: translateY(0);
                }
            }

            .drop-down-mobile-menu-bar {
                width: 30px;
                height: 30px;
                position: absolute;
                z-index: 19;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                right: 16px;
                margin-top: 10px;
                // background: rgb(36, 164, 24);
                cursor: pointer;
                opacity: 0;

                &.dropdown-active {
                    opacity: 1;
                }

                .menubar.dropdown-active {
                    &:nth-child(1) {
                        transform: rotate(50deg);
                        top: 10px;
                    }

                    &:nth-child(2) {
                        transform: rotate(-50deg);
                    }
                }

                .menubar.dropdown-unactive {
                    &:nth-child(1) {
                        transform: rotate(0);
                    }

                    &:nth-child(2) {
                        transform: rotate(0);
                    }
                }

                .menubar {
                    position: relative;
                    z-index: 17;
                    height: 1px;
                    width: 28px;
                    margin-top: 3px;
                    background-color: rgb(255, 255, 255);

                    transition: transform 0.9s;
                }
            }


            .nav-links {
                position: relative;
                z-index: 17;

                .animation-background.dropdown-active {
                    width: 500px;
                    height: 100%;
                    position: absolute;
                    top: 51px;
                    background-color: black;
                    transition: tranform 1s;

                    &.animation {
                        transform: translatey(400px);
                    }
                }

                ul {
                    padding: 50px 0 0 50px;
                    position: relative;
                    z-index: 17;
                    cursor: pointer;

                    &.dropdown-active {
                        color: #D0D0D0;

                        li::before {
                            color: black;
                        }

                        li:hover::before {
                            color: red;
                        }

                        li {
                            opacity: 1;
                            transition: opacity 2s ease;
                        }
                    }

                    li {
                        list-style: none;
                        font-size: 1.75rem;
                        font-weight: 700;
                        margin-top: 20px;
                        position: relative;
                        opacity: 0;

                        &.activeNavbarLinkBtn::before {
                            color: red;
                        }

                        &::before {
                            content: ".";
                            position: absolute;
                            top: -13px;
                            right: 90px;
                            font-size: 35px;
                        }
                    }
                }
            }


        }
    }
}


// Media Quries start
@media screen and (max-width: 500px) {
    .header-box{
        .header-contents{
            .logo{
                left: 16px;
            }
        }
    }
  }

  @media screen and (max-width: 420px) {
    .header-box{
        .header-contents{
            .mobile-nav-links-box{
                .nav-links{
                    ul{
                        li{
                            &::before{
                                right: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
  }
